[submodule "extternals/libdeflate"]
	path = extternals/libdeflate
	url = https://github.com/shadexternals/libdeflate.git
[submodule "externals/libdeflate"]
	path = externals/libdeflate
	url = https://github.com/shadexternals/libdeflate.git
[submodule "externals/zstd"]
	path = externals/zstd
	url = https://github.com/shadexternals/zstd.git
[submodule "externals/zarchive"]
	path = externals/zarchive
	url = https://github.com/shadexternals/ZArchive.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/shadexternals/json.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadexternals/fmt.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
